@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

.btn{
    border: 1px solid black;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}

.btn:hover{
    background-color: #E8E8E8;
}